.icon-grap-food{background-image: url('../images/sprite.png');background-position: 0px -52px;width:42px;height:35px;}
.icon-grap-glus{background-image: url('../images/sprite.png');background-position: -104px 0px;width:34px;height:42px;}
.icon-grap-ins{background-image: url('../images/sprite.png');background-position: 0px 0px;width:42px;height:42px;}
.icon-grap-sport{background-image: url('../images/sprite.png');background-position: -52px 0px;width:42px;height:39px;}
